body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
	max-width: 100vw;
}
.header-link {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 500;

	@media (min-width: 900px) {
		font-size: 2rem;
	}
}

.change-date-link {
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 100;

	@media (min-width: 900px) {
		font-size: 1.8rem;
	}
}

.change-date-link:hover {
	text-decoration: underline;
	color: #3c4856;
}
